@model SteamApp.ViewModels.GameFormViewModel
@{
    ViewBag.Title = "GameForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a game</h2>
@using (Html.BeginForm("Save", "Games"))
{
    @Html.ValidationSummary(true, "Please fix the errors that occured.")
    <div class="form-group">
        @Html.LabelFor(m => m.Game.Name)
        @Html.TextBoxFor(m => m.Game.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Game.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Game.GameFor)
        @Html.TextBoxFor(m => m.Game.GameFor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Game.GameFor)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Game.GamePrice)
        @Html.TextBoxFor(m => m.Game.GamePrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Game.GamePrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Game.GameYearPublished)
        @Html.TextBoxFor(m => m.Game.GameYearPublished, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Game.GameYearPublished)
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.Categories)
        @Html.DropDownListFor(m => m.Game.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName"), "Select game category", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Game.CategoryID)
    </div>

    @Html.HiddenFor(m => m.Game.GameID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

